#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.button-wrapper {
  display: flex;
  border: 1px solid lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  min-height: 250px;
}

.counter-heading {
  width: 100%;
  text-align: center;
}

.button-minus {
  padding: 10px 30px;
  font-size: 1rem;
}

.button-plus {
  padding: 10px 30px;
  font-size: 1rem;
}

.button-label {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
